<h1>Catálogo de Atualizações</h1>

<div class="input-group mb-3">
    <input *ngIf="patchesFiltered" type="text" class="form-control" placeholder="ex.: KB3204723" aria-label="KB's" aria-describedby="button-addon2" (input)="filterKB($event.target.value)" style="text-transform:uppercase" maxlength="9">
</div>

<p *ngIf="!patchesFiltered"><em>Carregando Catálogo...</em></p>

<table class='table table-striped table-bordered' *ngIf="patchesFiltered">
    <thead>
      <tr>
        <th>Patch</th>
        <th>Data Release Inicial</th>
        <th>Data Release Final</th>
        <th>KB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patch of patchesFiltered">
        <td>{{ patch.patchAlias }}</td>
        <td>{{ patch.strPatchInitialReleaseDate }}</td>
        <td>{{ patch.strPatchCurrentReleaseDate }}</td>
        <td><a href="{{ patch.remediationUrl }}" target="_blank">{{ patch.remediationDescription }}</a></td>
      </tr>
    </tbody>
  </table>
  